html,body {
  margin: 0;
  height: 100%;
  background: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

canvas {
  box-shadow: 0 6px 18px rgba(0,0,0,0.4);
  background: #2ecc71; /* carte verte (ton vert) */
  image-rendering: pixelated;
}